body {
    background-color: #e6ffe6;
}
  
h1 {
    color: Black ;
    text-align: center;
    font-family: georgia;
}


.card-grid{
    display:flex; <!--container flexivel, linha e tabela -->
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

.card {
   background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 170px;
  text-align: center;
}

.card img {
  width: 140px;
  height: 200px;
  object-fit: cover;
  border-radius: 2px;
}

.card p {
  font-family: 'Georgia', serif;
  font-size: 14px;
  color: #333;
  margin: 10px 0;
}
